extends includes/basePage
block scripts
    script(src="/assets/js/dashboard.js")
block styles
    link(rel="stylesheet" href="/assets/css/dashboard.css")
block page-content
        .container.dashboard-page
                    h1.dash-head Dashboard
                    .row.tabs
                        button.btn.col-4#0(type="button" onclick="openPage('Quizzes', this,0)") Quizzes
                        if user.userType=="User"
                            button.btn.col-4#1(type="button"  onclick="openPage('History', this,1)") History
                        else if user.userType=="Admin"
                            button.btn.col-4#1(type="button"  onclick="openPage('YourQuizzes', this,1)") Your Quizzes
                        button.btn.col-4#2(type="button" onclick="openPage('Profile', this,2)") Profile
                    .row 
                        #Quizzes.tabcontent
                            if user.userType=="User"
                                button.btn.btn-success(type="button" style="margin-top:-10%") 
                                    i.fa.fa-check(aria-hidden='true')
                                    |  JOIN A QUIZ
                            else if user.userType=="Admin"
                                button.btn.btn-danger(type='button', style='margin-top:-10%')
                                    i.fa.fa-plus(aria-hidden='true')  
                                    |  CREATE A QUIZ
                            h3(style="padding-top:3%;color:#066EF7;") Enrolled Quizzes
                            hr(style="height:2px;width:100%;background-color:#066EF7;overflow:hidden;position:relative;")
                            .enrolled-list.root1
                                ul(style="float:left")
                                    each q in ['Test1','Test2','Test3','a','b']
                                        li.d-flex.justify-content-between
                                            img.bz(src="/assets/img/icons/bzfavicon.png")
                                            .bottom-left(style="position: absolute;top:18%;left:40%;color:white") #{q}
                                                i.far.fa-play-circle
                                                    a(href="/start")
                            h3(style="padding-top:3%;color:#066EF7;") Upcoming Quizzes
                            hr(style="height:2px;width:100%;background-color:#066EF7;overflow:hidden;position:relative;")
                            .upcoming-list.root2    
                                ul(style="float:left")
                                    each q in ['Test1','Test2','Test3']
                                        li.d-flex.justify-content-between
                                            img.bz(src="/assets/img/icons/bzfavicon.png")
                                            .bottom-left(style="position: absolute;top:18%;left:40%;color:white") #{q}



                        #History.tabcontent
                            div#test
                        #YourQuizzes.tabcontent
                            h3 Your Quizzes                           
                        #Profile.tabcontent
                            .details(style="margin-bottom:10%")
                            h4
                                label  name 
                                |  : #{user.name}
                                .row
                            h4
                                label Email
                                |  : #{user.email}
                            if user.mobileNumber
                                .row
                                h4
                                    label Phone Number
                                    |  : #{user.mobileNumber}
                            .row
                            h4
                                label Quizzes Enrolled
                                |  : 0
                            .row
                            h4
                                label Quizzes Completed
                                |  : 0

                            a(href='/ui/updateProfile')
                                button.btn.btn-primary(type='button') Update Profile

